{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calle Segura</title>
    <link rel="stylesheet" href="{% static 'reportes/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Calle Segura</h1>
        {% if user.is_authenticated %}
            <p>Bienvenido, {{ user.username }} ({{ user.groups.first.name|default:"Ciudadano" }})</p>
            
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Cerrar sesión</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
        {% endif %}
    </header>

    {% block content %}{% endblock %}
</body>
</html>



